body{
    background-image: linear-gradient(
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)),  url(https://wallpaperaccess.com/full/813245.jpg);
    background-size:cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.box-borders{
    max-width: 100%;
    height: 450px;
    display: flex
}

.box-borders-2{
    max-width: 100%;
    display: flex
}
h1{
    text-align: center;
    font-size: 100px;
    color: rgb(255, 228, 228);
    font-family: "golden-font";
}
@font-face {
    font-family: "golden-font";
    src: url(/english/fonts/GoldenbeachpersonaluseBdit-jEgDM.otf);
}

@font-face {
    font-family: "Gladifilthefte";
    src: url(/english/fonts/Gladifilthefte.ttf);
}

img{
    border-radius: 20px;
}
.box-1{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: rgb(253, 255, 225);
    font-family: "Gladifilthefte";
}

.box-2{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: rgb(253, 255, 225);
    font-family: "Gladifilthefte";
}

.box-3{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: rgb(253, 255, 225);
    font-family: "Gladifilthefte";
}

.box-4{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: rgb(253, 255, 225);
    font-family: "Gladifilthefte";
    margin-top: 80px;
}


.box-5{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: rgb(253, 255, 225);
    font-family: "Gladifilthefte";
    margin-top: 80px;
}

.box-6{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: rgb(253, 255, 225);
    font-family: "Gladifilthefte";
    margin-top: 80px;
}
button{
    font-size: 15px;
    font-weight:900;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    color: snow;
    transition: 1.2s;
}
button:hover{
    font-size: 15px;
    font-weight:900;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(107, 34, 34);
    transform: scale(1.2);
    cursor: pointer;
    transition: 1.2s;
}


.ferrari{
    width: 350px;
    height: 200px;
}

.nissan{
    width: 350px;
    height: 200px;
}

.pagani{
    width: 350px;
    height: 200px;
}

.mclaren{
    width: 350px;
    height: 200px;
}

.toyota{
    width: 350px;
    height: 200px;
}

.jesko{
    width: 350px;
    height: 200px;
}
